/* Contenedor principal del formulario */
.cotizacion-container {
     max-width: 900px;
     margin: 0 auto;
     padding: 20px;
     background-color: #f9f9f9;
     border-radius: 8px;
   }
   
   /* Título principal */
   .cotizacion-title {
     font-size: 28px;
     font-weight: bold;
     text-align: center;
     margin-bottom: 20px;
   }
   
   /* Mensaje informativo */
   .cotizacion-info-message {
     background-color: #e6f7ff;
     padding: 16px;
     border-radius: 4px;
     margin-bottom: 16px;
     font-weight: bold;
   }
   
   /* Información del cliente */
   .cotizacion-info-card {
     background-color: #1890ff;
     color: white;
     padding: 16px;
     border-radius: 4px;
     margin-bottom: 16px;
   }
   /* Estilo de las totales y botones de acción */
.cotizacion-totals-buttons {
    display: flex;
    flex-direction: column; /* o row, según cómo desees el layout */
    align-items: center; /* centra horizontalmente */
    justify-content: center; /* centra verticalmente, si es necesario */
    margin-top: 24px;
   }
   .cotizacion-totals p {
     font-size: 16px;
     font-weight: bold;
   }
   /* Botones flotantes */
.cotizacion-action-buttons {
    display: flex;
    align-items: center;
    justify-content: center; /* Esto centra los botones horizontalmente */
    gap: 16px; /* Opcional: para agregar espacio entre los botones */
   }
   .margin-button {
     margin-top: 10px;
     margin-bottom: 16px;
   }